.main-nav {
  display: flex;
}

.main-nav__wrapper {
  display: flex;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: -84px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 12px;

  list-style: none;
}

.main-nav__item {
  display: flex;
  align-items: flex-start;
  margin-right: 84px;
}

.main-nav__link {
  display: flex;
  padding-top: 13px;

  transition: $default-transition-settings;
  border-bottom: 1px solid transparent;
  opacity: 0.8;
}

.main-nav__link:hover {
  border-bottom: 1px solid #FFFFFF;
  opacity: 1;
}

.main-nav__link--active {
  font-weight: 500;

  border-bottom: 1px solid #FFFFFF;
  opacity: 1;
}

.main-nav__link--logo {
  line-height: 0;
  padding-top: 0;
  padding-right: 15px;
  padding-left: 15px;

  border-bottom: none;

  opacity: 1;
}

.main-nav__link--logo:hover {
  border-bottom: none;
}

.main-nav__span {
  display: flex;
}
