.slider__wrap-slider-btn {
  display: flex;
  margin-bottom: 21px;
  align-items: center;
  max-width: 100px;
  margin-left: 41%;
}

.slider__wrap-slider-btn button {

  border: none;
  transition: $default-transition-settings;
  background-color: transparent;
}

.slider__wrap-slider-btn button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.slider__wrap-slider-btn span {
  padding-left: 2px;
  padding-right: 2px;

  font-size: 18px;
  line-height: 18px;
  color: #373737;
}

.slider__wrap-slider-btn button svg {
  display: flex;
  align-items: center;

  fill: transparent;
}

.slider__wrap-slider-btn button svg use {
  width: 9px;
  height: 14px;
}

.slider__container {
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  box-sizing: content-box;
}

.slider__slide {
  width: 407px;
  margin-right: 30px;
}

.slider__slide img {
  width: 407px;
}
