.webdev {
  height: calc(100% - 94px);
  position: relative;
  padding-top: 8.4%;
  padding-left: 20px;
  padding-right: 20px;
}

.webdev__header {
  margin-bottom: 1.45%;
}

.webdev__header h2 {
  margin: 0;

  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.webdev__description {
  max-width: 504px;
  margin: 0 auto;
  margin-bottom: 1.9%;
}

.webdev__description p {
  margin: 0;

  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;

}

.webdev__btn-wrap {
  max-width: 184px;
  margin: 0 auto;
  //margin-bottom: 11.75%;
}

.webdev__wrap-social {
  position: absolute;
  left: 50%;
  bottom: 85px;
  transform: translate(-50%);
}

.webdev__social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: -30px;

  list-style: none;
}

.webdev__social-item {
  margin-right: 30px;
}

.webdev__social-link {
  transition: $default-transition-settings;
}

.webdev__social-link:hover {
  opacity: 0.8;
}

.webdev__social-link svg {
  fill: transparent;
}
