.wrap-first-screen {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url(../img/bg/bg-image-1@1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg/bg-image-1@2x.jpg");
  }
}
