.wrap-first-screen {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url(../img/bg/bg-image-1@1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
