// Vendor
//---------------------------------

@import "vendor/normalize";
// @import "vendor/swiper";

// Global
//---------------------------------

@import "variables";
@import "mixins";
@import "global/reboot";
@import "global/utils";
@import "global/container";
@import "global/fonts";
@import "global/typography.scss";

// Blocks
//---------------------------------

@import "blocks/wrap-first-screen";
@import "blocks/wrap";

@import "blocks/header";
@import "blocks/main-nav";
@import "blocks/webdev";
@import "blocks/btn";

@import "blocks/rappresent";
@import "blocks/community";
@import "blocks/slider";
@import "blocks/implement";
@import "blocks/sign-up";
@import "blocks/form";
@import "blocks/download";


@import "blocks/footer";
@import "blocks/modal";


// используйте это для отключения ховеров на тач устройствах
// ! но не используйте это для текстовых полей ( input, textarea )
// также для любых transition обязательно указывайте transition-property
// transition: color $default-transition-settings, а не transition: $default-transition-settings

/* @media (hover: hover), screen and (min-width: 0\0) {
  &:hover,
  &:focus {
    color: red;
  }
} */
