<header class="header @@if (context.mod) { header--@@mod }">
  <div class="header__wrapper">
    <!-- <a class="header__logo" @@if (!context.main) { href="main.html"} aria-label="Переход на главную">
      Логотип
    </a>

    <nav class="main-nav">
      <button class="main-nav__toggle btn-reset" type="button" aria-label="Переключатель отображения меню" aria-pressed="false">
        <svg width="20" height="20">
          <use xlink:href="#icon-burger"></use>
        </svg>
      </button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 0) { href="#" }>Страница 1</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 1) { href="#" }>Страница 2</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 2) { href="#" }>Страница 3</a>
          </li>
        </ul>
      </div>
    </nav> -->

    <nav class="main-nav">
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link main-nav__link--active">About</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Syllabus</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link main-nav__link--logo">
              <span class="main-nav__span">
                <svg width="44" height="44">
                  <use xlink:href="#icon-logo"></use>
                </svg>
              </span>
            </a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Projects</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <section class="webdev">
    <h1 class="visually-hidden">webdev</h1>

    <div class="webdev__wrap-text">
      <div class="webdev__header">
        <h2 >your life is WebDev</h2>
      </div>

      <div class="webdev__description">
        <p>Whatever the approach to development may be, the final program must satisfy some fundamental properties</p>
      </div>

      <div class="webdev__btn-wrap">
        <a href="#" class="btn">get started</a>
      </div>
    </div>

    <div class="webdev__wrap-social">
      <ul class="webdev__social-list">
        <li class="webdev__social-item">
          <a class="webdev__social-link" href="#">
            <svg width="20" height="20">
              <use xlink:href="#icon-mail"></use>
            </svg>
          </a>
        </li>
        <li class="webdev__social-item">
          <a class="webdev__social-link" href="#">
            <svg width="20" height="20">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="webdev__social-item">
          <a class="webdev__social-link" href="#">
            <svg width="20" height="20">
              <use xlink:href="#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="webdev__social-item">
          <a class="webdev__social-link" href="#">
            <svg width="20" height="20">
              <use xlink:href="#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</header>
